---
import Copyright from '../components/Copyright.astro';
import Base from './Base.astro';
import AstroTemplateOutlet from "astro-template-outlet"

export interface Props {
	content: {
		title: string;
		description: string;
		pubDate?: string;
		updatedDate?: string;
		heroImage?: string;
	};
}

const {
	content: { title, description, pubDate, updatedDate, heroImage },
} = Astro.props;
---

<Base {...{title, description}}>
	<header class="mx-auto container md:w-3/5">
		<div class="grid place-items-center">

				{heroImage && <img width={720} height={360}  src={heroImage} alt="" />}
				
				<h1>{title}</h1>
				
				{pubDate && <time>{pubDate}</time>}
				
				{updatedDate ? <AstroTemplateOutlet templateId="updated-time"  /> : null}
				
			</div>	
	</header>
	<article class=" mx-auto container md:w-4/5 ">		
		<div class="grid lg:place-items-center gap-2">
			<slot />
		</div>
	</article>
	<Copyright />
</Base>

<style lang="postcss">
	 :global(body)  {
		@apply py-2 px-6 md:py-12 md:px-36;
	}
</style>

<template id="updated-time">
	<div>
		Last updated on <time>{updatedDate}</time>
	</div>		
</template>